<%= content_for :text_logo, 'Alterar Senha' %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|%>

    <%= devise_error_messages! %>

    <%= f.hidden_field :reset_password_token %>

    <p>Mínimo de <%=@minimum_password_length%> Caracteres</p>

    <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                    <%= f.password_field :password, class: 'form-control', placeholder: 'Senha', required: true %>
            </div>
        </div>
    </div>

    <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirmação de Senha', required: true %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <%= f.submit 'Alterar senha', class: 'btn btn-success btn-block' %>
        </div>
        <div class="col-sm-6 col-xs-12">
            <%= link_to 'Ou login', '/login', class: 'btn btn-primary btn-block' %>
        </div>
    </div>
<% end %>